---
layout: page
title: "Events"
description: "Take part."
header-img: "img/events-bg3.jpg"
---

<p>We will run a weekly seminar in Cambridge lasting for two academic years, a number of workshops, and a major conference, among other activities. Details can be found below.</p>

<span class="caption text-muted">Image: 
<a href="https://www.flickr.com/photos/willfolsom/5508029135/in/photolist-9oJ6az-4BidQe-5M6Uu-iyFz6M-F2WvD-pdbb-6vgN9N-9hbBxc-4xveST-7vJBXX-6TVgg-fmUm1P-818ym-4mhNSd-kpe2FU-5Txt-8ZJd6E-asHazg-2aNJDA-6TVqn-az86CM-dFj2AY-6TVcV-obmCig-6TVo1-cEC9to-6TVf1-v3uJc-rmev7p-sXgpQc-6aE7gE-4jdSo9-og9d73-7kk7BH-53rLFu-ohK5-qswkPy-cDWcPJ-bsSQgE-fn9wr3-7G2aVd-rsoMsy-fn9wsQ-6aDYr1-5fVG9H-8GWm9V-pg2Q6v-mFaVxy-6AXp9E-74b2sU" target="_blank">Hipster Convention</a>, Will Folsom</span>

{% include eventloop.html %}

{% include map.html %}