
<!-- Map Section -->
<section id="map"></section>

    <!-- jQuery -->
    <script src="{{site.baseurl}}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{site.baseurl}}/js/jquery.easing.min.js"></script>

  	<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://mapsengine.google.com/map/u/2/embed?mid=zv1LK6g6vBFs.kRA1btFQzrvY"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{site.baseurl}}/js/map.js"></script>