---
layout: page
title: "Events"
description: "Take part."
header-img: "img/events-bg3.jpg"
---



<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
 	<div class="text-center">
		<h1 class="title">{% if page.upcomingtitle %}{{ page.upcomingtitle }}{% else %}Upcoming{% endif %}</h1>
	</div>
	<section class="event-contrast">			
		{% assign curDate = site.time | date: '%s' %}
		{% for event in site.categories.events reversed %}
			{% assign postStartDate = event.date | date: '%s' %}
				{% if postStartDate <= curDate %}
					{% assign LastNeww = forloop.index %}
					{% else %}	
							<div class="post-preview">
						 		<a href="{{ event.url | prepend: site.baseurl }}">
							        <h2 class="post-title">{{ event.title }}</h2>
							        {% if event.speaker %}
							        	<h3 class="post-subtitle">{{ event.speaker }}</h3>
							        {% endif %}
						    	</a>
						    	<p class="post-meta">{% if event.location %}At {{ event.location }}, {% else %}{% endif %}{{ event.date | date: "%A, %B %-d, %Y" }}</p>
							</div>
							<hr>
				{% endif %}
			
		{% endfor %}
		<ul class="pager">
		<li class="next">
		<a href="..\">Back</a>	
		</li>
		</ul>
	</section>
</div>