---
layout: page
menu: "no"
title: "Upcoming Events"
description: "Take part."
header-img: "img/events-bg3.jpg"
---

			<h1>UPCOMING</h1>
				{% assign curDate = site.time | date: '%s' %}
				{% for event in site.categories.events %}
					{% assign postStartDate = event.date | date: '%s' %}
					 {% if postStartDate >= curDate %}
				<div class="post-preview">
				 <a href="{{ event.url | prepend: site.baseurl }}">
				        <h2 class="post-title">            {{ event.title }}
				        </h2>
				        {% if event.speaker %}
				        <h3 class="post-subtitle">
				            {{ event.speaker }}
				        </h3>
				        {% endif %}
				    </a>
				    <p class="post-meta">{% if event.location %}{{ event.location }}{% else %}{{ site.title }}{% endif %}, {{ event.date | date: "%-d %B %Y" }}</p>
				</div>
				{% endif %}
				<!-- <hr> -->
				{% endfor %}

{% include map.html %}